.navigation-bar {
    width: 100%;
    height: 60px; 
    background-color: #BEE9E6; 
}
.logos {
    display: inline-flex;
    vertical-align: middle;
    height: 60px;
    float: right;
}

.logo {
    height: 60px;
}

.navbar-caption {
    line-height: 60px;
    position: relative;
    margin-left: 8px;
}
