body:before{ 
  content: 'Draft'; 
  position: fixed; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  z-index: 10; 
  color: grey; 
  pointer-events: none;
  font-size: 200px; 
  font-weight: 500;
  transform: rotate(-45deg);
  display: grid; 
  justify-content: center; 
  align-content: center; 
  opacity: 0.3; 
}